@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Roboto;
}

*, *:before, *:after {
  box-sizing: border-box;
}
